<!doctype html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.min.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="dist/images/logo-couleur-ruben.png" />
        <script type="text/javascript" src="src/components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="dist/js/menu-mobile.min.js"></script>
        <script src="https://unpkg.com/vue@next"></script>
        
		<title>Ruben Lecomte - Mon CV en ligne</title>
	</head>
	<body>
        <header class="menu-mobile">
            <button class="bouton-open">
                <i class="fas fa-bars"></i>
            </button>
            <nav class="navigation close">
                <button class="bouton-close">
                    <i class="fas fa-times"></i>
                </button>
                <div class="menu-titre">
                    Menu
                </div>
                <ul>
                    <li>
                        <a href="index.html">Pur HTML</a>
                    </li>
                    <li class="active">
                        <a href="version-api.html">Avec API</a>
                    </li>
                    <li class="download-pdf">
                        <a href="src/images/CV Webdesigner - Ruben Lecomte.pdf" download>Telecharger</a>
                    </li>
                </ul>
            </nav>
        </header>
		<div class="block-cv" id="bloc-cv">
			<div class="container">
				<div class="row">
					<section class="col-lg-4 informations-personnelles">
                        <div id="bloc-haut" class="nom">
                            <div class="logo">
                                <img src="dist/images/logo-couleur-ruben.png" alt="Logo Ruben Lecomte">
                            </div>
                            <div class="nom-titre">
                                <div class="haut-nom-titre">
                                    Lecomte
                                </div>
                                <div class="bas-nom-titre">
                                    Ruben
                                </div>
                            </div>
                            <div class="age">
                                26 ans
                            </div>
                        </div>
                        <div id="bloc-milieu" class="metier">
                            <h1>
                                <span class="type-contrat">
                                    Alternance
                                </span>
                                <span class="type-metier">
                                    Webdesigner
                                </span>
                            </h1>
                        </div>
						<div id="bloc-bas" class="informations-contact">
                            <div class="region">
                                <span class="region-important">
                                    Nantes
                                </span>
                                et ses environs
                            </div>
                            <div class="contact">
                                <div class="numero">
                                    <a href="tel:0679894955">06 79 89 49 55</a>
                                </div>
                                <div class="mail">
                                    <a href="mailto:ruben.lecomte@gmail.com">ruben.lecomte@gmail.com</a>
                                </div>
                                <div class="habitation">
                                    42, rue de la poste, <br>44840, Les Sorinières
                                </div>
                            </div>
                            <div class="lien-portfolio">
                                <a href="http://ruben-lecomte.fr/">
                                    <div class="cta-portfolio">
                                        Voir mon portfolio
                                    </div>
                                    <div class="cta-contenu">
                                        ruben-lecomte.fr
                                    </div>
                                </a>
                            </div>
                        </div>
                    </section>
                    <div class="col-lg-8 informations-generales">
                        <section class="block-profil">
                            <h2 class="h2-yellow">
                                Profil
                            </h2>
                            <div class="block-contenu" v-html="apiWordpress.content.rendered">
                                <!--
                                    API REST WORDPRESS : Contenu Page Mon CV
                                -->
                            </div>
                        </section>
                        <section class="block-experiences">
                            <h2 class="h2-black">
                                Expériences
                            </h2>
                            <!--
                                API REST WORDPRESS : ACF Expériences
                            -->
                            <div class="block-contenu experience" v-for="exp in apiWordpress.acf.experiences">
                                <h3>
                                    {{ exp.titre }}
                                </h3>
                                <p class="lieu">
                                    {{ exp.entreprise }} | {{ exp.date_debut }} - {{ exp.date_fin }}
                                </p>
                                <div v-html="exp.contenu">
                                </div>
                            </div>
                        </section>
                        <section class="block-diplome">
                            <h2 class="h2-yellow">
                                Diplôme
                            </h2>
                            <div class="block-contenu">
                                <div class="row">
                                    <!--
                                        API REST WORDPRESS : ACF Diplômes
                                    -->
                                    <div class="col-md-6" v-for="dip in apiWordpress.acf.diplomes">
                                        <h3>
                                            {{ dip.titre }}
                                        </h3>
                                        <p class="lieu">
                                            {{ dip.entreprise }} | {{ dip.date_debut }} - {{ dip.date_fin }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="block-competences">
                            <h2 class="h2-black">
                                Compétences
                            </h2>
                            <div class="block-contenu competences">
                                <!--
                                    API REST WORDPRESS : ACF Competences
                                -->
                            </div>
                        </section>
                    </div>
				</div>
			</div>
		</div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="assets/js/vue.js"></script>
	</body>
</html>

